/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(to right, #0f2027, #203a43, #2c5364);
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container {
    background-color: white;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    width: 350px;
    text-align: center;
}

.login-container h1 {
    color: #0f2027;
    margin-bottom: 10px;
}
.error-message {
     color: #ff0000;
     padding-top: 10px;
     font-size: 14px;
     text-align: center;
}

.login-container h2 {
    margin-bottom: 20px;
    color: #333;
}

.login-container input {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
}

.login-container button {
    width: 100%;
    padding: 12px;
    background-color: #0f2027;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.login-container button:hover {
    background-color: #203a43;
}

.login-container p {
    margin-top: 15px;
    color: #666;
}

.login-container a {
    color: #0f2027;
    text-decoration: none;
}

.login-container a:hover {
    text-decoration: underline;
}
