<!DOCTYPE html>
<html lang="pt-BR">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Formulário de E-mail</title>
        <link rel="stylesheet" href="./Styles/enviarcodigo.css">
        <link rel="icon" href="./Images/UBS.ico" type="image/x-icon">
    </head>

    <body>

        <div class="login-container">

            <div class="login-header">
                <h2>Digite seu usuario</h2>
            </div>

            <form action="" method="post" class="login-form" id="login-form">
                <div class="input-group">
                    <input type="email" id="email" name="email" required>
                    <span class="highlight"></span>
                    <label for="email">Seu usuario:</label>
                </div>
        
                <a href="./redefinir.html" class="login-button">Enviar</a>
            </form>
            
        </div>

    </body>
</html>