<!DOCTYPE html>
<html lang="pt-BR">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Redefinir Senha</title>
        <link rel="stylesheet" href="./Styles/redefinir.css">
        <link rel="icon" href="./Images/UBS.ico" type="image/x-icon">
    </head>

    <body>

        <div class="reset-container">

            <div class="reset-header">
                <h2>Redefinição de Senha</h2>
                <p>Digite sua nova senha abaixo</p>
            </div>

            <form action="" method="post" class="reset-form" id="reset-form">

                <div class="input-group">
                    <input type="password" id="new-password" name="nova_senha" required>
                    <span class="highlight"></span>
                    <label for="new-password">Nova Senha</label>
                </div>

                <div class="input-group">
                    <input type="password" id="confirm-password" name="confirma_senha" required>
                    <span class="highlight"></span>
                    <label for="confirm-password">Confirmar Senha</label>
                </div>

                <a href="index.html" value="Redefinir Senha" class="reset-button">Redefinir Senha</a>

            </form>

        </div>

    </body>

</html>